.icon {
    width: 40px;
    height: 40px;
    vertical-align: text-bottom;
}

.line {
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-shadow: 5px 5px #222;
    font-size: 30px;
}

.distance {
	font-size: 45px;
}

.clock {
	padding: 20px 0px;
    font-size: 90px;
    color: #FFF000;
}

.showing {
    margin-top: 15%;
}

#content-heartrate {
    float: left;
    padding-left: 40px;
}

#content-speed {
    float: right;
    padding-right: 40px;
}
