.icon {
    position: absolute;
    right: 85px;
    width: 40px;
    height: 40px;
    vertical-align: text-bottom;
}


.line {
    font-weight: bold;
    margin-bottom: 15px;
    margin: auto;
    text-align: center;
    text-shadow: 5px 5px #222;
    font-size: 25px;
}

.minor {
    text-align: left;
    margin-left: 85px;
}

.distance {
	font-size: 40px;
}

.clock {
	padding: 20px 0px;
    font-size: 85px;
    color: #FFF000;
}

.showing {
    margin-top: 15%;
}


.heart {
    -webkit-animation: heartbeat 2s infinite;
}

@-webkit-keyframes heartbeat
{
  0%, 40%, 80%, 100% {
    width: 38px;
    height: 38px;
  }
  
  20%, 60% {
    width: 40px;
    height: 40px;
  }
}

